<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=gb2312' />
<link rel='stylesheet' href='../styles/jquery.treeview.css' />
<link rel='stylesheet' href='../styles/all.css' />
<script type='text/javascript' src='../scripts/jquery-1.5.min.js'></script>
<script type='text/javascript' src='../scripts/jquery.treeview.js'></script>
<script type='text/javascript'>
	jQuery(function() {
		$('#browser').treeview({
			collapsed : true,
			unique : true
		});
	});
</script>
<style type='text/css'>
</style>
<title>无标题文档</title>
</head>

<body>
<table width='100%' height='100%' border='0' cellpadding='0' cellspacing='0' style='table-layout: fixed;'>
	<tr>
		<td style='width: 4px; background-image: url(../images/main_16.gif)'>&nbsp;</td>
		<td valign='top'>
		<table width='100%' border='0' cellspacing='0' cellpadding='0'>
			<tr>
				<td style='background: url(../images/main_07.gif) repeat; width: 310px; height: 25px;'>&nbsp;身份</td>
			</tr>
			<tr>
				<td>
				<ul id='browser' class='filetree'>
					<li><span class='folder'>角色管理</span>
					<ul>
						<li><span class='file'> <a href='../manage/roleList.html?action=ROLELIST' target='mainFrame'>角色管理</a> </span></li>
						<li><span class='file'> <a href='../manage/roleInfo.html?action=ROLEADD' target='mainFrame'>角色添加</a> </span></li>
					</ul>
					</li>
					<li><span class='folder'>用户管理</span>
					<ul>
						<li><span class='file'>Subfolder 2.1</span></li>
						<li><span class='file'>File 2.2</span></li>
					</ul>
					</li>
					<li><span class='folder'>模块管理</span>
					<ul>
						<li><span class='file'>File 3.1</span></li>
					</ul>
					</li>
				</ul>
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
</body>
</html>
